body {
    background-color: rgb(247, 247, 247);
    margin: 0;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-weight: 900;
    font-size: 4em;
    color: #242424;
}

#main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#title {
    display: flex;
    justify-content: center;
    width: 100%
}

#function {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#screen {
    font-family: 'Orbitron', sans-serif;
    font-size: 3em;
    color: #0a5214;
}

input {
    font-family: 'Orbitron', sans-serif;
    font-size: 1.5em;
    width: 6em;
    height: 1.5em;
    color: #0a5214;
    text-align: center;
}

button {
    font-family: 'Kanit', sans-serif;
    font-size: 2em;
}

#overall {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#icon-container {
    position: absolute;
    top: 5%
}

#lower {
    position: relative;
    z-index: 9;
}

#icon {
    width: 400px;
    height: 400px;
}

